/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
:root {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("../images/detailed-dark-grunge-style-texture-background_1048-14598.png");
    color: #fff;
}

.container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-top: 2rem;
}

/* Header Styles */
header {
    padding: 2rem;
}

nav,
#nav-menu {
    display: flex;
    align-items: center;
}


#menu-nav li {
    margin-right: 2rem;
}

.menu-icon {
    cursor: pointer;
    display: flex;
    position: relative;
    z-index: 2;
}

/* Home Section Styles */
.home-informations {
    position: relative;
    display: flex;
    height: 100%;
    flex-direction: column;
    padding: 20px;
}

.container-introduction {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 1.5rem 0 1.5rem;
}

.introduction-title {
    display: flex;
    margin-bottom: 14.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.introduction-title h1 {
    font-size: 4.5rem;
    font-family: 'codec-pro-ultra', sans-serif;
    font-weight: 800;
}

.introduction-title p {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 1.7rem;
    line-height: 2;
    letter-spacing: 0.5px;
    text-align: start;
}

.container-actions {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

.container-actions button,
.container-actions a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
    border: none;
    height: 5rem;
    width: 100%;
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}

.container-actions button {
    background-color: #f3b700
}

.logo-background {
    position: absolute;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
}

.logo-background img {
    max-width: 100%;
    height: 100%;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    object-fit: cover;
}


/* Services Information Section */
.services-informations {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #000000;
}

.container-services-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0.5rem;
}

.container-services-cards p:nth-child(1) {
    margin: 4rem 0 5rem 0;
    font-size: 4rem;
    text-align: center;
}

.container-services-cards ul,
.container-portfolio-cards ul {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    list-style-type: none;
}

.container-services-cards ul li {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 4rem 3.5rem;
    gap: 2rem;
    height: 35.1rem;
    list-style-type: none;
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgb(0, 0, 0) 0.1%, #f3b700 99.8%);
    color: #FFFFFF;
    border-radius: 5rem;
}

.container-services-cards ul li h1 {
    font-size: 4rem;
}

.container-services-cards ul li p {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: 1.5;
    font-size: 1.5rem;
}

.portfolio-informations,
.portfolio-informations-client {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    gap: 4rem;
}

.container-portfolio-cards {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 4rem;
    padding: 10px;
}

.container-portfolio-cards ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    justify-content: space-evenly;
    width: 100%;
    padding: 4rem 3.5rem;
    gap: 2rem;
    height: 15rem;
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgb(0, 0, 0) 0.1%, #f3b700 99.8%);
    color: #FFFFFF;
    border-radius: 4rem;
}

.container-portfolio-cards ul li p {
    font-size: 1.6rem;
    letter-spacing: 1.2;
}

.container-portfolio-cards ul li h1 {
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 1.2;
}

.portfolio-informations h1 {
    font-size: 5rem;
    font-weight: 400;
}

.portfolio-informations p {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: 1.5;
    font-size: 1.5rem;
}

.portfolio-informations button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 999px;
    border: solid 1px #f3b700;
    height: 6rem;
    width: 20rem;
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
}

.portfolio-informations button:hover {
    background-color: #f3b600bd;
}

.container-portfolio-cards-client {
    position: relative;
    /* Adicionando posição relativa para referência do elemento absoluto */
    display: flex;
    justify-content: center;
    align-items: end;
    max-width: 100%;
    max-height: 100%;
}

.portfolio-music-client {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: last baseline;
    max-width: 100%;
}

.portfolio-music-client video {
    width: 100%;
    height: 66rem;
    border-radius: 6rem;
}

.control-video {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 5rem;
    z-index: 3;
    
    /* Ajuste para levar em conta a borda de 3px de cada lado */
    margin-bottom: 3rem;
    padding: 0 1rem;
}

.control-video button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 4rem;
    border: none;
    cursor: pointer;
    border-radius: 999rem;
}

/* Estilos para os controles de vídeo */
.control-video p {
    font-size: 2rem;
    font-weight: 700;
}

.play-video, .next-video {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3b700;
    
}

/* Estilos para os controles de vídeo */
.play-video, .next-video {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3b700;
}

.backward-video {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background-color: #000000;
}
.back-next-control, .play-control {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.back-next-control svg,
.play-control svg {
    width: 30px; /* Ajuste a largura conforme necessário */
    height: 30px; /* Ajuste a altura conforme necessário */
    /* Você pode adicionar outros estilos ou propriedades aqui conforme necessário */
}

/* Estilos para o reprodutor de áudio */
.audio-player {
    text-align: center;
    max-width: 100px;
}

.album-container {
    position: relative;
    display: inline-block;
}

/* Estilo para a imagem do álbum */
.album-cover {
    width: 80px;
    display: block;
    border-radius: 20px;
}

/* Estilo para o botão de play */
.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25px;
    height: 25px;
    background-image: url('../images/play-svgrepo-com.svg');
    background-size: cover;
    cursor: pointer;
    z-index: 1;
}

/* Estilos para a barra de progresso */
.progress-bar {
    width: 100%;
    height: 10px;
    background-color: #ccc;
    margin-top: 10px;
    border-radius: 5px;
    overflow: hidden;
}

.progress {
    height: 100%;
    background-color: #f3b700;
    width: 0;
    transition: width 0.3s ease-in-out;
}

/* Mobile Responsiveness */
@media screen and (max-width: 768px) {

    /* Estilos para telas menores */
    .menu-icon {
        display: block;
    }

    #nav-menu {
        display: none;
    }

    .collapse-menu.opened {
        padding-right: 0;
    }

    .collapse-menu li {
        display: block;
        border-bottom: none;
    }

    .home-informations {
        padding-top: 0;
    }

    .container-actions {
        margin: 1rem 0;
    }

    .collapse-menu {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }

    .collapse-menu ul {
        list-style-type: none;
        padding: 0;
        margin: 3rem;
    }

    .collapse-menu li {
        padding: 15px;
        text-align: center;
        color: white;
        font-size: 20px;
        border-bottom: 1px solid #888;
    }

    .collapse-menu a {
        text-decoration: none;
        color: white;
        display: block;
    }

    .collapse-menu a:hover {
        color: #f1f1f1;
    }

    .collapse-menu.opened {
        padding-right: 0;
    }

}