/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Global Styles */
:root {
    font-size: 62.5%;
    --font-size-small: 1.4rem;
    --font-size-medium: 1.6rem;
    --font-size-large: 2rem;
    --font-size-heading: 2.5rem;
    --font-size-title: 3rem;
    --font-size-title-large: 5rem;
    --line-height-default: 1.5;
    --line-height-large: 1.2;

    --spacing-small: 1rem;
    --spacing-medium: 2rem;
    --spacing-large: 3rem;
    --spacing-xlarge: 4rem;

    --border-radius-default: 0.5rem;
    --border-radius-large: 1rem;

    --icon-size-small: 1.5rem;
    --icon-size-medium: 4rem;
    --icon-size-large: 5rem;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-image: url("../images/detailed-dark-grunge-style-texture-background_1048-14598.png");
    color: #fff;
    font-size: var(--font-size-medium);
    line-height: var(--line-height-default);
}

/* Home Section Styles */

.header__language span svg:hover {
    fill: white;
    cursor: pointer;
    transition: 0.5s;
}
ul.header__menu-nav li:hover {
    text-decoration: underline;
    text-decoration-color: #f3b600;
    text-decoration-thickness: 0.3rem;
}
.home__container-introduction {
    display: flex;
    flex-direction: column;
    padding: var(--spacing-large);
    justify-content: center;
    align-items: center;
    gap: var(--spacing-large);
}

.home__introduction-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-large);
}

.home__introduction-heading {
    font-size: var(--font-size-title-large);
    font-family: 'codec-pro-ultra', sans-serif;
    font-weight: 800;
}

.home__introduction-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: var(--font-size-medium);
    line-height: var(--line-height-default);
    letter-spacing: 0.5px;
    text-align: start;
}

.home__container-actions {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-medium);
}

.home__container-actions button,
.home__container-actions a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
    border: none;
    height: var(--spacing-xlarge);
    width: 100%;
    color: #FFF;
    font-size: var(--font-size-medium);
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}

.home__container-actions button {
    background-color: #f3b700;
}

.home__logo-background {
    display: flex;
    opacity: 0;
}

/* Services Information Section */
.services {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: var(--spacing-large);
}

.services__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    gap: var(--spacing-large);
}

.services__container p:nth-child(1) {
    margin: var(--spacing-large) 0 var(--spacing-extra-large) 0;
    font-size: var(--font-size-title-large);
    text-align: center;
}

.services__container .services__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: var(--spacing-large);
    list-style-type: none;
}

.services__container .services__list .services__item {
    display: flex;
    flex-direction: column;
    padding: var(--spacing-large);
    gap: var(--spacing-medium);
    height: 40rem;
    width: 32.5rem;
    list-style-type: none;
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgb(0, 0, 0) 0.1%, #f3b700 99.8%);
    color: #ffffff;
    border-radius: var(--border-radius-large);
}

.services__list .container-list {
    display: flex;
    gap: var(--font-size-title);
}

.services__item h1 {
    font-size: var(--font-size-heading);
    line-height: var(--line-height-default);
}

.services__item p {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: var(--line-height-medium);
    font-size: var(--font-size-medium);
}

.services__list svg {
    width: var(--icon-size-medium);
    height: var(--icon-size-medium);
}

/*Portifolio Cards Audio*/
.portfolio {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: var(--spacing-medium);
}

.portfolio-cards {
    width: 100%;
}

.portfolio-cards__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-medium);
    align-items: center;
}

.portfolio-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-medium);
    color: #FFFFFF;
    border-radius: var(--border-radius-large);
}

.portfolio-list .portfolio-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    width: 100%;
    height: 15.4rem;
}


.portfolio-information-client__content{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.videos-carousel--client .portfolio-item p,
.videos-carousel--client .portfolio-item h1 {
    font-size: var(--font-size-medium);
    font-weight: 700;
    letter-spacing: var(--letter-spacing-default);
}

.videos-carousel--client .portfolio-item h1 {
    font-size: var(--font-size-large);
}


/* Style text default to (Title H1 - Text P) */
.portfolio-card__title,
.portfolio-information-client__content-title {
    font-size: 5rem;
    font-weight: 400;
}

.portfolio-card__text,
.portfolio-information-client__content-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: 1.5;
    font-size: 1.6rem;
    padding: 0 0.2rem;
}

/* Style Button Default */
.portfolio button,
.portfolio-information-client__content-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 999px;
    border: solid 1px #f3b700;
    height: 6rem;
    width: 20rem;
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 700;
    cursor: pointer;
}

.portfolio button:hover,
.portfolio-information-client__content button:hover {
    background-color: #f3b600;
    transition: 0.5s;
}

/*Section Contact*/
.contact-informations {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.container-contact-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 1rem;
    gap: var(--font-size-title);
}

.contact-informations h1 {
    font-size: var(--font-size-title-large);
    font-weight: 700;
}

.container-contact-card .data-contact {
    display: flex;
    flex-direction: column;

}

.data-contact li {
    list-style-type: none;
}

.data-contact li a {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    color: #FFFFFF;
}

ul.contact-list {
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

.data-contact li a {
    font-size: 1.6rem;
    font-weight: 700;
}

/*Style form*/
.container-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: linear-gradient(109.6deg, rgba(0, 0, 0, 0.644) 11.2%, rgba(2, 2, 2, 0.534) 91.1%);
    border: none;
    border-radius: 3rem;
    padding: 2rem 0;
}

.container-form h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: var(--font-size-title-large);
    font-weight: 400;
    margin-left: 2rem;
}

.container-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 3rem;
}

.container-form .form-group {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form-group input,
.form-group textarea {
    width: 100%;
    height: 6rem;
    font-size: var(--font-size-medium);
    font-weight: 500;
    border: none;
    padding: 1rem;
    border-radius: 1rem;
}

.form-group textarea {
    height: 15rem;
}

.container-form form button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    width: 20rem;
    border: #f3b700 1px solid;
    color: #FFFFFF;
    background-color: #00000000;
    border-radius: 1rem;
    gap: 0.5rem;
    font-size: var(--font-size-medium);
    font-weight: 600;
}
.container-form form button:hover {
    cursor: pointer;
    transition: 0.5s;
    background-color: #f3b700;
}

footer {
    text-align: center;
}

/* Mobile Responsivenes 768px */
@media screen and (max-width: 768px) {

    /* Estilos para telas menores */
    .header__menu-icon {
        display: block;
    }

    .header__nav {
        display: none;
    }

    .header__nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem;
        margin-top: 2rem;
    }

    /* Header Styles */
    .header {
        padding: 2rem;
    }

    .header__menu-icon {
        cursor: pointer;
        display: flex;
        position: relative;
        z-index: 2;
    }

    .header__logo {
        width: 4.8rem;
        height: 4.8rem;
    }

    .header__collapse-menu.opened {
        padding-right: 0;
    }

    .header__collapse-menu li {
        display: block;
        border-bottom: none;
    }

    .home__container-introduction {
        padding-top: 0;
    }

    .home__container-actions {
        margin: 1rem 0;
        width: 100%
    }

    .header__collapse-menu {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }

    .header__collapse-menu-list {
        list-style-type: none;
        padding: 0;
        margin: 3rem;
    }

    .header__collapse-menu-list li {
        padding: 15px;
        text-align: center;
        color: white;
        font-size: 1.6rem;
        border-bottom: 1px solid #888;
    }

    .header__collapse-menu-list a {
        text-decoration: none;
        color: white;
        display: block;
    }

    .header__collapse-menu-list a:hover {
        color: #f1f1f1;
        transition: 0.5s;
    }

    .header__collapse-menu.opened {
        padding-right: 0;
    }

    .home__logo-background {
        display: none;
    }

    .services__container .services__list {
        flex-direction: column;
    }

    .services__container .services__item {
        width: 100%;
    }

    .services__list .container-list {
        flex-direction: column;
    }

}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
    .header__nav-container {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-between;
        align-items: center;
        font-size: 1.6rem;
        font-weight: 700;
        padding: 4.8rem;
    }

    nav#menu-nav {
        display: flex;
        align-items: center;
        gap: 3.5rem;
    }

    ul.header__menu-nav {
        display: flex;
        align-items: center;
        gap: 3.5rem;
        list-style-type: none;
        cursor: pointer;
    }

    .header__menu-icon,
    .header__collapse-menu {
        display: none;
    }

    .header__language {
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }

    .header__contact-button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border-radius: 999px;
        border: solid 1px #f3b700;
        height: 4rem;
        width: 15rem;
        color: #FFF;
        font-size: 1.6rem;
        font-weight: 700;
        cursor: pointer;
    }

    .header__contact-button:hover {
        background-color: #f3b700;
        transition: 0.3s;
    }
    .home__container-actions {
        width: 100%;
    }
    .home__logo-background {
        display: none;
    }

    /*Section Services*/
    .services__container .services__list .services__item {
        height: 25rem;
    }

    .services__container .services__item {
        width: 100%;
    }

    .services__list .container-list {
        flex-direction: column;
    }

    .portfolio {
        flex-direction: row;
        align-items: flex-start;
    }

    .portfolio-list .portfolio-item {
        height: 9rem;
    }

    /*Section Contact*/
    .container-contact-card {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        width: 100%;
        gap: var(--font-size-title);
    }

}

@media only screen and (min-width: 1025px) {
    .header__nav-container {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-between;
        align-items: center;
        font-size: 1.6rem;
        font-weight: 700;
    }

    nav#menu-nav {
        display: flex;
        align-items: center;
        gap: 5rem;
    }

    ul.header__menu-nav {
        display: flex;
        align-items: center;
        gap: 5rem;
        list-style-type: none;
        cursor: pointer;
    }

    .header__menu-icon,
    .header__collapse-menu {
        display: none;
    }

    .header__language {
        display: flex;
        align-items: center;
        gap: 2.5rem;
    }

    .header__contact-button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border-radius: 999px;
        border: solid 1px #f3b700;
        height: 4rem;
        width: 15rem;
        color: #FFF;
        font-size: 1.6rem;
        font-weight: 700;
        cursor: pointer;
    }

    .header__contact-button:hover {
        background-color: #f3b700;
        transition: .3s;
    }

    body {
        padding: 40px 23px 66px;
        font-size: 1.6rem;
    }

    main,
    header {
        max-width: 140rem;
        margin: 0 auto;
    }

    .home__container-introduction,
    .portfolio-cards {
        padding-top: 6.9rem;
        padding-bottom: 8rem
    }

    .home__container-introduction {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 3.5rem;
        padding: 0;
    }

    .home__container-actions {
        flex-direction: row;
    }

    .home__container-actions button,
    .home__container-actions a {
        flex-direction: row;
        width: 15rem;
    }

    .home__introduction-heading {
        font-size: 6rem;
        display: flex;
        flex-wrap: nowrap;
        min-width: 10rem;
        font-family: 'codec-pro-ultra', sans-serif;
        font-weight: 800;
    }

    /* Services Information Section */
    .services {
        padding: 0;
    }

    .services__container .services__list .services__item {
        height: 26.6rem;
        padding: 4.4rem 4.9rem 4.6rem 2.8rem;
        box-sizing: border-box;
    }

    .container-list {
        display: flex;
        flex-wrap: wrap;
    }

    .services__container p:nth-child(1) {
        margin: 6.9rem 0 7.8rem 0;
    }

    .portfolio {
        flex-direction: row;
    }

    .portfolio-cards {
        padding-top: 6.9rem;
        max-width: 80rem;
    }

    .portfolio-list {
        width: 100%;
    }

    .portfolio-list .portfolio-item {
        height: 17.4rem;
        width: 60rem;
    }

    .portfolio-cards__content {
        margin: 0 9rem;
        display: flex;
        flex-direction: column;
        gap: var(--font-size-title);
    }

    /*Section Portifolio Client YOUTUBE*/
    .portfolio-information-client {

        padding: 0;
    }

    .portfolio-information-client__container {
        flex-direction: column-reverse;
    }

    .portfolio-information-client__video-slide .portfolio-information-client__video-slide-iframe {
        height: 65rem;
    }

    /*Section Contact*/
    .contact-informations {
        padding: 0;
    }

    .container-contact-card {
        flex-direction: row-reverse;
        justify-content: center;
        align-items: first baseline;
    }

    .container-form {
        width: 69.5rem;
    }



}

@media only screen and (max-width: 1444px) {
    .services__container .services__list .services__item {
        width: 100%;
    }
}

section {
    margin-top: 10.5rem;
    margin-bottom: 5rem;
    padding: 2rem;
}

.portfolio-information-client__videos-carousel::-webkit-scrollbar {
    height: 15px;
}

::-webkit-scrollbar-track {
    display: none;
    /*background-color: #ececec;
    border-radius: 10px;*/
}

::-webkit-scrollbar-thumb {
    display: none;
    /*background-color: #f3b600;
    border-radius: 10px;
    border: 1px solid #d1d1d1;*/
}





